<h1>Editing Medicine</h1>

<%= render 'form' %>

| <%= link_to 'Show', patient_path(@patient), :class => "btn btn-default" %> |
<%= link_to 'Back', patient_medicine_path(@patient, @medicine.id), :class => "btn btn-default" %>


