<h1>Editing Patient</h1>

<%= render 'form' %>

<<<<<<< HEAD
| <%= link_to 'Cancel', patients_path, :class => "btn btn-default"  %>
</div>
</div>
<hr>
=======
<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>
>>>>>>> 234c9b8af761cd64312d5ac2a3a601d1ccb93988
