    <% if user_signed_in? %>
    
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12 text-center"> <%= link_to 'Add Your Information please', new_patient_path, :class => "btn btn-success btn-lg" %></div>
</div>
<% end %>


