<<<<<<< HEAD
<h1>Add Patient</h1>
<hr>
<%= render 'form' %>


	<%= link_to ' Cancel ', patients_path, :class => "btn btn-default" %>
</div>
</div>
<hr>
=======
<h1>New Patient</h1>

<%= render 'form' %>

<%= link_to 'Back', patients_path %>
>>>>>>> 234c9b8af761cd64312d5ac2a3a601d1ccb93988
