
<div class="row">
	<div class="form-signin"> 
		<h2><small>Patient Managment System </small></h2>
		This Patient managment system helps patients track their medical information from their doctors.
		Patients join the system, upon each visit to the doctor, the Doctors update their records accordingly by adding visit summary, adding medication, and refills. <br>
		<strong>demo doctor login.</strong> gorkxs@hotmail.com <br> <strong>demo doctor password:</strong> 123456789
	<hr>
		<%= link_to "Sign in",  new_user_session_path, :class => "btn btn-success" %> | 
		<%= link_to "Sign up",  new_user_registration_path, :class => "btn btn-default" %>
	</div>
</div>